/* ---------------------------- reset ---------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
#root, #__next {
    isolation: isolate;
}

/* ---------------------------- other ---------------------------- */

/* ---------------------------- app ---------------------------- */
.parent {
    width: 200px;
    border: 2px solid black;
}

.box {
    width: 100%;
    border: 2px solid hotpink;
    padding: 20px;
}
