<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote OpenGraph Meta Tags</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="main.css" media=”screen” />
    <script src="https://unpkg.com/htmx.org@1.9.4" crossorigin="anonymous"></script>
    <script type="module" src="main.js"></script>
</head>
<body>
<main class="container">
    <div id="meta-tags">
        <!-- This div will be populated with the meta tags -->
    </div>

    <button hx-get="https://dev.to/mfp22/10-tips-for-scaling-signals-1nap" hx-trigger="click" hx-swap="outerHTML" hx-target="#meta-tags">
        Fetch Meta Tags
    </button>
    <!--
        <button hx-get="https://dev.to/mfp22/10-tips-for-scaling-signals-1nap" hx-trigger="revealed" >
            Fetch Meta Tags
        </button>
    -->

    <a data-href="https://dev.to/mfp22/10-tips-for-scaling-signals-1nap">link 1</a>

</main>

</body>
</html>
