<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote OpenGraph Meta Tags</title>
    <link rel="stylesheet" type="text/css" href="main.css" media=”screen” />
    <script src="https://unpkg.com/htmx.org@1.9.4" crossorigin="anonymous"></script>
    <script src="greet.js"></script>
</head>
<body>
<div id="meta-tags">
    <!-- This div will be populated with the meta tags -->
</div>

<button hx-get="https://dev.to/mfp22/10-tips-for-scaling-signals-1nap" hx-trigger="click" hx-swap="outerHTML" hx-target="#meta-tags">
    Fetch Meta Tags
</button>
<!--
    <button hx-get="https://dev.to/mfp22/10-tips-for-scaling-signals-1nap" hx-trigger="revealed" >
        Fetch Meta Tags
    </button>
-->

<script>
    const OG_URL = 'og:url';
    const OG_IMAGE = 'og:image';
    const OG_TITLE = 'og:title';
    const OG_DESCRIPTION = 'og:description';
    function getOgItem(doc, property) {
        const tag = doc.querySelector(`meta[property="${property}"]`);
        return tag.getAttribute('content')
        // let image = tag ? `<img src="${tag.getAttribute('content')}">` : '';
        // return image;
    }
    function extractMetaTags(html) {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');

        const result = {
            url: getOgItem(doc, OG_URL),
            title: getOgItem(doc, OG_TITLE),
            description: getOgItem(doc, OG_DESCRIPTION),
            image: getOgItem(doc, OG_IMAGE),
        }

        return result;
    }

    // Remove all extra htmx headers, re-add content-type.
    document.body.addEventListener('htmx:configRequest', function(event) {
        event.detail.headers = ''
        event.detail.headers['Content-Type'] = "application/x-www-form-urlencoded; charset=UTF-8"
    });

    document.addEventListener('htmx:beforeSwap', function (event) {
        console.log(event.detail);
        const og = extractMetaTags(event.detail.serverResponse);
        document.getElementById('meta-tags').innerHTML = `
            <p>${og.title}</p>
            <p>${og.description}</p>
            <a href="${og.url}" target="_blank"><img src="${og.image}"></a>
            `;
        event.detail.shouldSwap = false;
    });
</script>

</body>
</html>
